[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

#cash out context for apple pie

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
match_indent = true
pattern = '''G.deck:shuffle('cashout'..G.GAME.round_resets.ante)'''
position = "after"
payload = '''
for i=1, #G.jokers.cards do
    eval_card(G.jokers.cards[i], {pl_cash_out = true})
end
'''

#painterly joker context

[[patches]]
[patches.pattern]
target = "card.lua"
match_indent = true
pattern = '''self.config.card = card'''
position = "before"
payload = '''
if self.config.card.suit then
  if self.config.card.suit ~= card.suit then
    if G.jokers and G.jokers.cards then
      for i=1, #G.jokers.cards do
        eval_card(G.jokers.cards[i], {pl_suit_changed = true})
      end
    end
  end
end
'''

#lavender seal

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
match_indent = true
pattern = '''ease_discard(-1)'''
position = "at"
payload = '''
local should_ease_discard = true
for i=1, #cards do
  if cards[i].seal == 'pl_lavender' and not cards[i].debuff then
    should_ease_discard = false
  end
end
if should_ease_discard then ease_discard(-1) end
'''

#grape soda

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
match_indent = true
pattern = '''add_tag(_tag.config.ref_table)'''
position = "after"
payload = '''
if G.jokers and G.jokers.cards then
    for i=1, #G.jokers.cards do
        if G.jokers.cards[i].config.center.key == "j_pl_grape_soda" then
        G.E_MANAGER:add_event(Event({
        trigger = 'immediate',
        func = function()
          delay(0.3)
          SMODS.calculate_context({skip_blind = true})
          for i = 1, #G.GAME.tags do
            G.GAME.tags[i]:apply_to_run({type = 'immediate'})
          end
          for i = 1, #G.GAME.tags do
            if G.GAME.tags[i]:apply_to_run({type = 'new_blind_choice'}) then break end
          end
          return true
        end
      }))
      _tag.children[2] = nil
      _tag.children[1] = nil
        return 
        end
    end
end
'''

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
match_indent = true
pattern = '''elseif e.config.id ~= G.GAME.blind_on_deck then'''
position = "before"
payload = '''
if G.GAME.pl_grape_used == G.GAME.blind_on_deck then
  _tag_container.children[2] = nil
  _tag_container.children[1] = nil
else
  G.GAME.pl_grape_used = nil
end
'''

#lamp

[[patches]]
[patches.pattern]
target = "card.lua"
match_indent = true
pattern = '''G.CONTROLLER.locks.selling_card = true'''
position = "after"
payload = '''
for i=1, #G.jokers.cards do
  if self.ability.set == 'Joker' then
    eval_card(G.jokers.cards[i], {pl_selling_joker = true})
  end
end
'''

#colors

[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
match_indent = true
pattern = '''enhanced = G.C.SECONDARY_SET.Enhanced'''
position = "after"
payload = ''',
lavender = HEX('C1A1DF')
'''